@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%; 
}

body {
    background-color: lightblue;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

#scoreBox, #hiscoreBox {
    font-size: 1.5rem; 
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#scoreBox {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#hiscoreBox {
    position: absolute;
    top: 3rem;
    right: 1rem;
}

#board {
    background-color: black;
    width: 90vmin;
    height: 90vmin;
    border: 2px solid lightcyan;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background-color: rgb(107, 197, 141);
    border: 2px solid rgb(34, 4, 34);
    transform: scale(1.05); 
}

.snake {
    background-color: rgb(107, 197, 141);
    border: 1px solid black;
}

.food {
    background-color: red;
    border: 1px solid black;
}

@media (max-width: 768px) {
    #scoreBox, #hiscoreBox {
        font-size: 1.2rem;
    }
    
    #board {
        width: 95vmin;
        height: 95vmin;
    }
}

@media (max-width: 480px) {
    #scoreBox, #hiscoreBox {
        font-size: 1rem;
    }
    
    #board {
        width: 100vmin;
        height: 100vmin;
    }
}
